<div class="container">

  <div nz-flex nzVertical="false" class="toolbar">
    <h1 class="header">{{ title() }}</h1>
    <nz-space>
      <nz-select [(ngModel)]="selectedAlgorithm" style="width: 200px;" nzPlaceHolder="Select Algorithm">
        <nz-option *ngFor="let algo of algorithms" [nzLabel]="algo.name" [nzValue]="algo.key">
        </nz-option>
      </nz-select>
      <nz-radio-group nzButtonStyle="solid" [(ngModel)]="currentMode" (ngModelChange)="onModeChange($event)">
        <label nz-radio-button nzValue="wall">Draw Walls</label>
        <label nz-radio-button nzValue="erase">Erase</label>
        <label nz-radio-button nzValue="start">Set Start</label>
        <label nz-radio-button nzValue="end">Set End</label>
      </nz-radio-group>
      <button nz-button (click)="onSolve()" class="solve-btn">
        Solve
      </button>
      <button nz-button nzDanger (click)="onClear()">
        Clear
      </button>
    </nz-space>
    @if (lastSolveStats(); as stats) {
    <div class="stats">
      <span>Algorithm: {{ stats.algorithm }}</span>
      <span>Nodes: {{ stats.nodes }}</span>
      <span>Time: {{ stats.timeMs.toFixed(2) }}ms</span>
    </div>
    }
  </div>


  <main class="grid-container">
    <app-grid [cols]="60" [rows]="40" [selectedAlgorithm]="selectedAlgorithm" (statsChanged)="onStatsChanged($event)">
    </app-grid>
  </main>
</div>